%flex-layout {
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: bold;
}

// ? navbar styles
.navbar {
  @extend %flex-layout;
  display: flex;
  padding: $base-padding $base-padding * 2;
  box-shadow: $base-box-shadow;
  .site-title {
    font-size: $font-size-lg;
  }
  .container {
    @extend %flex-layout;
  }

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

@each $key, $val in $colors {
  .navbar-#{$key} {
    @extend .navbar;
    background-color: $val;
  }
}

//? drawer style
.drawer {
  @extend %flex-layout;
  padding: $base-padding $base-padding * 2;
  box-shadow: $base-box-shadow;
  .container {
    @extend %flex-layout;
  }

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.drawer-icon {
  font-size: 2rem;
  background: none;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.drawer-menu {
  width: 250px;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: -100%;
  transition: all 2s;
  background-color: #fff;
  z-index: 3;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.drawer-menu.active {
  left: 0;
  transition: 500ms;
}

.l-navbar {
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #12192c;
  color: #fff;
  transition: 0.5s;
  height: 100%;

  .side-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 150px;

    &__link {
      display: grid;
      grid-template-columns: max-content max-content;
      align-items: center;
      column-gap: 0.75rem;
      padding: 0.75rem;
      color: #fff;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
      transition: 0.3s;
      cursor: pointer;

      &:nth-child(7) {
        margin-top: 50vh;
        position: static;
      }

      &:hover {
        background-color: #0c5df4;
      }
    }
  }
}
