/* //? Common Form Styles */

.form {
  background: linear-gradient(#141e30, #243b55);
  height: 100vh;
}

.formTitle {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.smallText {
  font-size: 12px;
  color: #aaa;
}

.link {
  padding: 20px;
  text-align: center;
}

.link a,
label {
  text-decoration: none;
  color: #aaa;
  font-size: 12px;
}

.or {
  font-size: 12px;
  color: rgb(211, 209, 209);
}

.signupText {
  color: #03e9f4 !important;
}

.socialText {
  padding: 0.7rem 0;
  font-size: 1rem;
  color: #aaa;
}

/* //? Primary Form Styles */

.primaryForm {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.primaryForm .userBox {
  position: relative;
}

.primaryForm .userBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.primaryForm .userBox .label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.primaryForm .userBox input:focus ~ label,
.primaryForm .userBox input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

/* //? Secondary Form Styles */

.secondaryForm {
  width: 450px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  text-align: center;
}

.secondaryForm input[type="email"],
.secondaryForm input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 230px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.secondaryForm input[type="email"]:focus,
.secondaryForm input[type="password"]:focus {
  width: 280px;
  border-color: #2ecc71;
}
.secondaryForm input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 30px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 16px;
}
.secondaryForm input[type="submit"]:hover {
  background-color: #2ecc71;
}
